<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <img class="logo" src="../../../public/assets/logo.png" alt="Logo do blog">
    <nav>
        <ul class="nav-itens">
            <li><a>Usuários</a></li>
            <li><a>Posts</a></li>
            <li><a></a></li>
        </ul>
        <a class="login-btn" href="#"><button>Login</button></a>
    </nav>
</body>
</html>