<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>   
     <img class="logo" src="../../../public/assets/logo2-sem-fundo.png" alt="Logo do blog" href="#">
        <nav class="navigation">
         <ul class="nav-itens">
             <li><a href="#">Usuários</a></li>
             <li><a href="#">Posts</a></li>
             <li><a href="#">Sobre nós</a></li>
             <li class="three-line-btn" style="display: none;">&#9776</li>
         </ul>
        </nav>
        <a class="login-btn" href="#"><button>Login</button></a>
    </header>   
</body>
</html>