<!DOCTYPE html>

<html>

	<head>
		<title>CRISTO REDENTOR</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="../../../public/css/stylesListPost.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

	</head>


	<body>
						
			<div class="main">

				<h1>CRISTO REDENTOR</h1>
                
				    <img class="trabalhos" src="../../../public/assets/cristo.jpeg" alt ="site ccb">
					<h2>Sobre</h2>
					<p>  Cristo Redentor é uma estátua art déco que retrata Jesus Cristo, localizada no topo do morro do Corcovado, a 709 metros acima do nível do mar, com vista para parte considerável da cidade brasileira do Rio de Janeiro.</p>
					<p> Feito de concreto armado e pedra-sabão,tem trinta metros de altura (uma das maiores estátuas do mundo), sem contar os oito metros do pedestal. Seus braços se esticam por 28 metros de largura e a estrutura pesa 1145 toneladas.
					</p>
					<p>O monumento é parte de um santuário católico e a Arquidiocese do Rio de Janeiro administra a estátua e o platô do mirante, além de também ser responsável pela manutenção e pelas celebrações na área.
					</p>
					<img class="trabalhos" src="../../../public/assets/cristo1.jpeg" alt ="site ccb">
					<h2>Horarios funcionamento</h2>
                 <div class="hora">
					
					<h2>Horas:</h2>
						<p>sexta-feira	08:00–19:00</p>
						<p>sábado	08:00–19:00</p>
						<p>domingo	08:00–19:00</p>
						<p>segunda-feira	08:00–19:00</p>
						<p>terça-feira	08:00–19:00</p>
						<p>quarta-feira</p>
						<p>(Dia de Nossa Senhora Aparecida)</p>
						<p>08:00–19:00</p>
						<p>Os horários podem ser diferentes</p>
						<p>quinta-feira	08:00–19:00</p>
			</div>
					
					
					
					
					<img class="trabalhos" src="../../../public/assets/cristo2.jpeg" alt ="site ccb">
		
		
					<br>
					<a class="back-link" href="listaPost.view.php">&larr; Voltar para a lista<a>

			</div>	

			

	</body>

</html>
