<!DOCTYPE html>

<html>

	<head>
		<title>Museu-do-Amanha</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="../../../public/css/stylesListPost.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

	</head>


	<body>
						
			<div class="main">

				<h1>Museu do amanhã</h1>
                
				    <img class="trabalhos" src="../../../public/assets/Museu-do-Amanha.jpg" alt ="site ccb">
					<h2>Descriçao do projeto</h2>
					<p>  O Museu do Amanhã é um museu construído no município do Rio de Janeiro, no Brasil.</p>
					<p>O prédio, projeto do arquiteto espanhol Santiago Calatrava, foi erguido ao lado da Praça Mauá, na zona portuária.
					</p>
					<p>Sua construção teve o apoio da Fundação Roberto Marinho e teve o custo total de cerca de 230 milhões de reais.
					</p>
					<img class="trabalhos" src="../../../public/assets/Visite_1280x800_MdA-BernardLessa__1456509569_189.60.197.72.jpg" alt ="site ccb">
					

					<h2>Horarios de visitação</h2>
					<p>Horas:<br>
						sexta-feira	10:00–17:00<br>
						sábado	10:00–17:00<br>
						domingo	10:00–17:00<br>
						segunda-feira	Fechado<br>
						terça-feira	10:00–17:00<br>
						quarta-feira<br>
						(Dia de Nossa Senhora Aparecida)<br>
						10:00–17:00<br>
						Os horários podem ser diferentes<br>
						quinta-feira	10:00–17:00</p>
					
					
					
					
					<img class="trabalhos" src="../../../public/assets/Museu-do-Amanha1.jpg" alt ="site ccb">
		
		
					<br>
					<a class="back-link" href="listaPost.view.php">&larr; Voltar para a lista<a>

			</div>	

			

	</body>

</html>
