@import url('https://fonts.googlespis.com/css?family=Montserrat:500');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #071217;
    height: 100vh;
    width: 100vw;
}

.logo{
    width: 15%;
    height: 40%;
}

.serch-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5px;
    width: 80%;
    height: 8%;
    background-color: #173E36;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.serch-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    height: 15%;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.serch-itens li{
    list-style: none;
}

.serch-itens input{
    border: none;
    background-color: #000;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 70%;
    color: #209b7c;
    font-size: 1rem;
    outline: none;
    transition: all 300ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.serch-itens input:focus {
    box-shadow: 0.5rem 0.5rem #209b7c;
}


.table-container{
    width: 80%;
    height: 80%;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.tabela{
    border-radius: 15px;
    margin-top: 10px;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.tabela thead{
    background-color: #173E36;
}

.tabela th {
    font-family: 'Montserrat', sans-serif;
    color: #209b7c;
    cursor: default;
}

.tabela td{
    cursor: pointer;
}

.tabela i{
    color: #348771;
}

.serch-itens i{
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
}

.bi-plus:hover{
    transform: scale(0.9);
    transform: all 0.2s;
    transition: all 0.5s ease 0s;
    color: #266354;
}

.tabela i:hover{
    color: #266354;
    transition: all 0.5s ease 0s;
}

.lista-posts{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.image{
    width: 25%;
    height: 25%;
}
.lista-posts h1{
    font-family: 'Montserrat', sans-serif;
    color: #348771;
    font-size: 50px;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

@keyframes fade-movement{
    0% {transform: translate(0px, -15px); opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {transform: translate(0px, 0px); opacity: 1;}
}

@media (max-width: 1000px){

.body{
    width: 100%;
}

.logo{
    width: auto;
}

.lista-posts{
    width: 100%;
    height: 100%;
}

.image{
    width: 80%;
    height: 80%;
}

.table-container{
    width: 100%;
}

.tabela{
    margin-top: 10px;
    width: 100%;
}

.serch-bar{
    width: 100%;
    height: 10%;
}

@media (max-width: 357px){
.body{
    width: 357px;
    position: absolute;
}

}
}