@import url('https://fonts.googlespis.com/css?family=Montserrat:500');

.body{
    background-color: #071217;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.table-container{
    width: 80%;
    height: 80%;
}

.tabela{
    border-radius: 15px;
}

.tabela thead{
    background-color: #173E36;
}

.tabela th {
    font-family: 'Montserrat', sans-serif;
    color: #209b7c;
    cursor: default;
}

.tabela td{
    cursor: pointer;
}

.lista-posts{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lista-posts h1{
    font-family: 'Montserrat', sans-serif;
    color: #348771;
}
