@import url('https://fonts.googlespis.com/css?family=Montserrat:500');

.body{
    background-color: #071217;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.lista-posts{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tabela{
    background-color: #071217;
    border-radius: 25px;
}

.lista-posts h1{
    font-family: 'Montserrat', sans-serif;
    color: #348771;
}
