@import url('https://fonts.googlespis.com/css?family=Montserrat:500');

body{
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #071217;
}

.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.nav-itens{
    list-style: none;
    
}

.nav-itens li {
    display: inline-block;
    padding: 10px 40px;
}

.nav-itens li a{
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

.nav-itens li a:hover{
    
}

button{
    padding: 10px 50px;
    background-color: #348771;
    color: #000;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button{
    color: #266354;
}

li, a{
    font-family: "Montserrat", sans-serif;
    color: #348771;
}


@media (max-width: 1000px){

}