@import url('https://fonts.googlespis.com/css?family=Montserrat:500');

body{
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #071217;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.nav-logo{
    width: 100px;
    height: 100px;
    cursor: pointer;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.nav-logo:hover{
    transition: all 0.5s ease 0s;
    transform: scale(0.8);
    transform: all 0.2s;
}

.nav-itens{
    list-style: none;
    padding-left: 0px;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.nav-itens li {
    display: inline-block;
    padding: 10px 40px;
}

.nav-itens li.tl-btn{
    display: none;
}

.nav-itens li a{
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

.nav-itens li a:hover{
    color: #266354;
    transition: all 0.5s ease 0s;
}

.nav-button{
    padding: 10px 50px;
    background-color: #348771;
    color: #000;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.nav-button{
    color: #071217;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.nav-button:hover{
    transform: scale(0.9);
    transform: all 0.2s;
    transition: all 0.5s ease 0s;
    color: #266354;
}

li, a{
    font-family: "Montserrat", sans-serif;
    color: #348771;
}

.sb-itens li{
    display: none;
}

@keyframes fade-movement{
    0% {transform: translate(0px, -15px); opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {transform: translate(0px, 0px); opacity: 1;}
}

@keyframes sb-mvment{
    0% {transform: translate(15px, 0px); opacity: 0;}
    100% {transform: translate(0px, 0px); opacity: 1;}
}

@media (max-width: 1000px){
.nav-itens li{
    display: none;
}

.nav-logo{
    width: 20%;
    height: 20%;
}

.login-btn{
    display: none;
}

.nav-itens li.tl-btn{
    display: block;
}

.nav-sidebar{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 60%;
    height: 80%;
    background-color: #071217;
    z-index: 30;

    animation-name: sb-mvment;
    animation-duration: 0.5s;
}

.sb-itens{
    list-style: none;
}

.sb-itens li{
    display: block;
    margin-top: 30px;
}

.sb-itens li a{
    text-decoration: none;
}

.sb-btn{
    display: block;
}

}