*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.serch-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5px;
    width: 80%;
    height: 8%;
    background-color: #173E36;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.serch-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    height: 15%;

    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.serch-itens li{
    list-style: none;
}

.serch-itens input{
    border: none;
    background-color: #000;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 70%;
    color: #209b7c;
    font-size: 1rem;
    outline: none;
    transition: all 300ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.serch-itens input:focus {
    box-shadow: 0.5rem 0.5rem #209b7c;


}


.bi-plus:hover{
    
    
    transform: scale(0.9);
    transform: all 0.2s;
    transition: all 0.5s ease 0s;
    color: #266354;
    
    
}

.body{
    background-color: #071217;
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.table-container{
    width: 80%;
    height: 80%;
    left: 0;
    top: 0;
    
 
}

.tabela{
    border-radius: 15px;
    margin-top: 10px;
   
    
}

.tabela thead{
    background-color: #173E36;
}

.tabela th {
    font-family: 'Montserrat', sans-serif;
    color: #209b7c;
    cursor: default;
}

.tabela i{
    color: #348771;
}

.tabela td{
    cursor: pointer;
}


.tabela i:hover{
    color: #266354;
    transition: all 0.5s ease 0s;


}

.img-btn{
    display: none;
}



.lista-posts{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.lista-posts h1{
    font-family: 'Montserrat', sans-serif;
    color: #348771;
    font-size: 50px;
    animation-name: fade-movement;
    animation-duration: 0.5s;
}

.logo{
    width: 15%;
    height: 40%;
}

.image{
    width: 25%;
    height: 25%;
}

.modal-itens{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 2rem;
}

.add-form{
    font-family: 'Montserrat', sans-serif;
    color: #348771;
    width: 100%;
    font-size: 15px;
}

.form-input{
    border: none;
    background-color: #000;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 15px;
    width: 100%;
    color: #209b7c;
    font-size: 1rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.form-input:focus{
    box-shadow: 0.5rem 0.5rem #209b7c;
}


.cfn-btn{
    padding: 20px 10px;
    width: 100px;
    border: none;
    border-radius: 15px;
    background: #000;
    color: #209b7c;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: 0.5s;
}

.cfn-btn:hover{
    background: #209b7c;
    color: #000;
    transform: scale(0.9);
    transform: all 0.2s;
    transition: all 0.5s ease 0s;
}

.modal-itens textarea{
    resize: none;
}

.form-container{
    position: fixed;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #071217;
    z-index: 10;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#fade{
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
}

.struct-modal{
    display: none;
}

.modal-itens{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 2rem;
}

.modal-head {
    color:#209b7c ;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
    
;
    
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
    width: 100%;
    height: 100%;
    
}

@keyframes fade-movement{
    0% {transform: translate(0px, -15px); opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {transform: translate(0px, 0px); opacity: 1;}
}

@media (max-width: 1026px){

    .serch-bar{
        height: 11%;
    }
    
    .form-container{
        height: 95%;
    }
    
    .title{
        font-size: 15px;
    }
    
    .form-input{
        font-size: 10px;
        height: 7%;
    }
    
    .img-selector{
        height: 3%;
    }
    
    .cfn-btn{
        height: 3%;
    }
    
    }
    
    @media (max-width: 1000px){
    
    .body{
        width: 100%;
        height: 100%;
    }
    
    .logo{
        width: 15%;
        height: 20%;
    }
    
    .lista-posts{
        width: 100%;
        height: 100%;
    }
    
    .image{
        width: 80%;
        height: 80%;
    }
    
    .table-container{
        width: 100%;
        height: 100%;
    }
    
    .tabela{
        margin-top: 10px;
        width: 100%;
    }
    
    .serch-bar{
        width: 100%;
        height: 10%;
    }
    
    .form-container{
        height: fit-content;
    }
    
    }
    @media (max-width: 500px){
    .body{
        width: 100%;
        position: absolute;
    }
    
    .logo{
        display: none;
    }
    
    .form-container{
        height: fit-content;
    }
    
    .img-selector{
        width: 60%;
        height: 8%;
    }
    
    .add-form textarea{
        margin-bottom: 3%;
    }
    
    
    }
    
    @media (max-width: 375px){
    .form-input{
        height: 10%;
        font-size: 7px;
    }
    
    .img-selector{
        font-size: 15px;
    }
    
    .title{
        font-size: medium;
    }
    }