body{
	background-color: #1B1F27;
	font-family: Arial, Helvetica, sans-serif;
	
	
	
}

.area-login{
	
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	align-items: center;
	
	
	
	

}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #181920;
	position: relative;
	width: 480px;
	height: 420px;
	border-radius: 10px;
	padding: 35px;
	box-shadow: 0px 10px 25px #00FF88;
}





.login form{
	display: flex;
	flex-direction: column;
	width: 500px;
	
	margin-top: 30px;
	
	
}

.login input{
	margin-top: 10px;
	background-color: #1B1F27;
	color: white;
	padding-left: 10px;
	border: none;
	height: 70px;
	outline: none;
	border-radius: 10px;
	
}

.login img{
	width: 65px;
	height: auto;
}

form [type="submit"] {
	display: block;
	background-color: #00FF88; 
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #00ff8052;
	transition: all 0.3s ease;
	
}

form [type="text"] {
	
	font-size: 30px;
}


p{
	
	color: white;
	text-decoration: none;
	margin-left: 10px;
	font-size: 25px;

}

a{
	color: #00FF88;
	text-decoration: none;
	margin-left: 10px;
}