
body {
    background: linear-gradient(-45deg, rgb(13, 63, 36), rgb(0, 0, 0), rgb(10, 63, 36)) no-repeat;
    background-size: 300% 300%;
    align-items: center;
    justify-content:center;
    min-width:393px ;
    min-height: 851px;


}
.itens-content{
    width: fit-content;
}

h2{
    display: flex;
    justify-content: center;
}

h2 img {
    width: 50%;
    animation-name:profile-imagem;
    animation-duration: 2s;

}

.itens-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.QS-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    border:1px solid rgb(0, 0, 0);
    box-shadow: 0 0 15px rgb(0, 182, 90);
    background: rgba(0, 0, 0, 0.44);
    color:white;
    width: 500px;
    font-size: 20px;
    text-align: justify;
    animation-name:profile-imagem;
    animation-duration: 2s;
    height: 250px;
}

.texto p{
    padding: 5px;
}


.titulo{
    color: #ffffff;
    width: 200px;
    font-size: 150%;
    animation-name:profile-imagem;
    animation-duration: 2s;
    height: 85px;

}

.slider{
    margin:0 auto;
    width:800px;
    height:400px;
    overflow:hidden;
}

.slides{
    animation-name:profile-imagem;
    animation-duration: 2s;
    width:400%;
    height:400px;
    display:flex;
}

.slides input {
    display:none;
}

.slide{
    width: 25%;
    position:relative;
}
.slide img{
    border:1px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 rgb(0, 178, 89);
    width: 100%;
    border-radius: 70px;
    height: 300px;

}
#radio1:checked~.first{
    margin-left:0;
}
#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navegation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
}
.navegation-auto{
    position:absolute ;
    width: 800px;
    margin-top:360px ;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: white;

}
#radio2:checked ~ .navegation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navegation-auto .auto-btn3 {
    background-color: white;
}

@media(max-width: 1023px){
    body{
        width: 100%;
        height: 100%;
    }
    .slides{
        font-size: 20%;

    }
}
@media(max-width: 1000px){
    .slides{
        font-size: 20%;

    }

}
@media(max-width: 1000px){
    body{
        font-size: 100%;
        align-items: center;
    }
    .slide img{
        width: 80%;
        height: 300px;
        border-radius: 70px;
    }
    .navegation-auto{
        position: absolute;
        width: 100%;
        margin-top:360px ;
        display: flex;
        justify-content: center;
    }
    
    .slider{
        width: 124%;
    }

    .texto{
        width: 150px;
        height: 370px;
        font-size: 15px;
        
    }

    .titulo{
        font-size: 20px;
        text-align: center;
    }

}

@keyframes profile-imagem {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}