body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #1B1F27;
    
    width: 100%;
    height: 200%;
}



.title{
    display: flex;
    justify-content: center;
    
}

.container{
    width: 99vw;
    height: 100vh;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    max-width: 100%;
}

.logo h2{
    color: #266354;
    font-size: 80px;
    
    
    
}

.logo span{
    color: #9AC3B8;
    

}

.content {
    color: #9AC3B8;
    text-align: left;
    padding-left: 20%;
    padding-top: 40px;
    width: 60%;

    
    
    

}

.post-title{
    font-size: 25px;
    color: #9AC3B8;
    
    
}

.content h3{
   color: #266354;
}

.content p{
    font-size: 18px;
    margin: 5%;
    
    text-align: justify;

}

.content ol{
    padding: 15px;
    font-size: 18px;
}

.content img{
    width: 1200px;
    height: 800px;
    display: flex;
    
    
}

figcaption{
    font-size: 7px;
    color:#9AC3B8;
}

.content h2 {
    color:#266354;
}
@media (max-width:1000px){
    .logo h2, .logo span{
        font-size: 2.5rem;
    }

    .post-title{
        font-size: 1.25rem;
    }

    .content img{
        width: 100%;
        height: 70%;
    }

    .content p{
        font-size: 12px;
    }
}
@media(min-width:800px) {
    
    .logo h2  {
        font-size: 65px !important; 

    }

    .content h1{
        font-size: 100px !important;
        color: #9AC3B8;
        
        
    }
    
    .content h3{
       color: #266354;
    }
    
    .content p{
        font-size: 30px !important;
        line-height: 40px;
    
    }
    
    .content ol{
        padding: 55px;
        font-size: 40px !important;

        
    }

    .content h2{
        font-size: 60px !important;
        color: #266354;
        
        
    }

    
    
    


}