body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #1B1F27;
    text-align: center;
}



.title{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    
}

.container{
    width: 99vw;
    height: 100vh;
}

.logo
{
    max-width: 100%;
   position: absolute;
    
}

.logo h2{
    color: #266354;
    font-size: 80px;
    
    
    
}

.logo span{
    color: #9AC3B8;
    

}

.content {
    color: #9AC3B8;
    text-align: left;
    padding-left: 20%;
    padding-top: 40px;
    margin-top: 25px;
    width: 60%;

    
    
    

}

.content h1{
    font-size: 60px;
    color: #9AC3B8;
    
    
}

.content h3{
   color: #266354;
}

.content p{
    font-size: 18px;
    margin: 5%;
    
    text-align: justify;

}

.content ol{
    padding: 15px;
    font-size: 18px;
}

.content img{
    width: 1200px;
    height: 800px;
    display: flex;
    
    
}

figcaption{

    color:#9AC3B8;
}

.content h2 {
    color:#266354;
}

@media(min-width:800px) {
    
    .logo h2  {
        font-size: 65px !important; 

    }

    .content h1{
        font-size: 100px !important;
        color: #9AC3B8;
        
        
    }
    
    .content h3{
       color: #266354;
    }
    
    .content p{
        font-size: 30px !important;
        line-height: 40px;
    
    }
    
    .content ol{
        padding: 55px;
        font-size: 40px !important;

        
    }

    .content h2{
        font-size: 60px !important;
        color: #266354;
        
        
    }

    
    
    


}