<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intal-scala=1.0">
    <link rel="stylesheet" href= "../../../public/css/stylesLandingPage.css">
    <title> kleTretenimento</title>


    <head>



     <body>


           <div class="imagem1">

          <h2><img src="../../../public/assets/logo3-sem-fundo.png"></h2>

           </div>

            <div class="slider">
                <div class="slides">

                    <input type="radio" name="radio-ntn" id="radio1"></input>
                        <input type="radio" name="radio-ntn" id="radio2"></input>
                            <input type="radio" name="radio-ntn" id="radio3"></input>



            <div class="slide first">
                <img src="../../../public/assets/hallow.png">
                     </div>
                     <div class="slide">
                      <img src="../../../public/assets/terror.png">
                                </div>
                     <div class="slide">
                     <img src="../../../public/assets/chakal.png">
                                </div>


                  <div class="navegation-auto">
                  <div class="auto-btn1"></div>
                  <div class="auto-btn2"></div>
                  <div class="auto-btn3"></div>

                  </div>

                </div>



             <div class="manual-navegation">
                 <label for="radio1" class="manual-btn"></label>
                 <label for="radio2"class="manual-btn"></label>
                 <label for="radio3"class="manual-btn"></label>
             </div>

            </div>

            <div class="titulo1">
             <b><h4><p>Quem somos?</h4><p></b>
            </div>

              <div class="texto1">
                <p>Somos um grupo de universitários da faculdade federal de Juiz de fora, criado com a finalidade de desenvolver um projeto, para o processo treine da empresa júnior code.<p>
              </div>


          <div class="titulo2">
              <b><h5><p>O que fazemos?</h5><p></b>
          </div>

          <div class="texto2">
            <p>Adiministramos e desenvolvemos esse blogue destinado a pessoas que procuram por algum programa para o fim de semana, damos esse espaço para que membros da comunidade possam anunciar eventos, festas ou qualquer outro tipo de evento que possa animar um poco seu dia, criamos essa página sem fins lucrativos, visando apenas ajudar pessoas que estão entediadas e sem planos para sair.<p>
          </div>



           <script src="../../../public/js/ScriptLandingPage.js"></script>
          </body>


  </html>