<!DOCTYPE html>

<html>

	<head>
		<title>SAL GASTRONOMIA</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="../../../public/css/stylesListPost.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

	</head>


	<body>
						
			<div class="main">

				<h1>SAL GASTRONOMIA</h1>
                
				    <img class="trabalhos" src="../../../public/assets/restaurante.jpg" alt ="site ccb">
					<h2>Sobre</h2>
					<p>  A cozinha do SAL é marcada pelo tempero acentuado e qualidade dos ingredientes, e uma forte característica do Chef Henrique Fogaça, que é não ter medo de errar e ousar em suas criações.</p>
					<p>O cardápio segue a linha brasileira contemporânea, com criações exclusivas.
					</p>
					<p>Mais do que comida boa, aqui no SAL você viverá uma experiência gastronômica, em um ambiente aconchegante, com uma equipe pronta para lhe atender.
					</p>
					<img class="trabalhos" src="../../../public/assets/restaurante1.jpg" alt ="site ccb">
					<h2>Horarios funcionamento</h2>
                 <div class="hora">
					
					<h2>• CONFIRA OS NOSSOS HORÁRIOS:</h2>

					<h2>• ☠ SAL CIDADE JARDIM (SP)</h2>
					<p>SEGUNDA À QUARTA: 12H ÀS 15H30 / 18H ÀS 23H</p>
					<p>QUINTA A SÁBADO: 12H ÀS 23H</p>
					<p>DOMINGO: 12H ÀS 21H</p>

					<h2>• 💀 SAL HIGIENÓPOLIS (SP)</h2>
				    <p>SEGUNDA: 12H ÀS 15H</p>
			        <p>TERÇA À SEXTA: 12H ÀS 15H / 19H ÀS 23H</p>
		            <p>SÁBADO: 12H ÀS 17H / 19H ÀS 23H</p>
	                <p>DOMINGO: 12H ÀS 17H</p>
			</div>
					
					
					
					
					<img class="trabalhos" src="../../../public/assets/restaurante2.jpg" alt ="site ccb">
		
		
					<br>
					<a class="back-link" href="listaPost.html">&larr; Voltar para a lista<a>

			</div>	

			

	</body>

</html>
